<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Microservcies with node.js</title>
      <link rel="shortcut icon" href="images/x1hibi.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="css/style.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <body>

    <main class="padding-3vw home-bg-color home-main">
      <section class="card-description padding-bottom-3vw">
        <h1 class="fluid-font-title home-title"> Microservices with node.js</h1>
      </section>
      <section class="card-description padding-bottom-3vw">
        <p class="fluid-font-paragraph center-text">The following microservices were develop to get "Back End Development and APIs Projects" certificaciton from frecodecamp.org</p>
      </section>
      <section class="card-description flex-container flex-column-fixed">
          <a class="home-link white-color fluid-font-paragraph blue-button" href="/timestamp" >Timestamp microservice 🕒</a><br>
          <a class="home-link white-color fluid-font-paragraph blue-button" href="/request-header" >Request header 📋</a><br>
          <a class="home-link white-color fluid-font-paragraph blue-button" href="/url-shortener" >URL shortener 🔗</a><br>
          <a class="home-link white-color fluid-font-paragraph blue-button" href="/exercise-tracker" >Exercise tracker 📝</a><br>
          <a class="home-link white-color fluid-font-paragraph blue-button" href="/file-metadata" >File metadata 🔎</a><br>
      </section>
      <footer class="card-description">
        <p class="fluid-font-paragraph center-text">Developed by <a class="blue" href="https://x1hibi.github.io/x1hibi/">x1hibi 🐦‍🔥</a></p>
      </footer>
    </main>
  </body>
</html>
