<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1> Microservice</h1>

    <ul>
      <a href="/timestamp" target="_blank">Timestamp</a>
      <a href="/request-header" target="_blank">Request header</a>
      <a href="/url-shortener" target="_blank">URL shortener</a>
      <a href="/exercise-tracker" target="_blank">Exercise tracker</a>
      <a href="/file-metadata" target="_blank">File metadata</a>
    </ul>
    
    <div class="footer">
      <p>
        By <a href="https://x1hibi.github.io/x1hibi/">Luis Raymundo Pérez Alvarado (x1hibi)</a>
      </p>
    </div>
  </body>
</html>
